.box-thong-tin-chi-tiet {
    margin: 0;
    padding: 0;
}

.box-thong-tin-chi-tiet .box-1 {
    width: 100%;
    height: 13.8rem;
    background-color: cadetblue;
}

.box-thong-tin-chi-tiet .box-1 .img {
    width: 110px;
    height: 110px;
}