.Col_boxTeacherHelp {
    width: 170.3rem;
    height: 79.7rem;
    margin-left: 0rem;
    margin-top: 14.1rem;
    
    background: #FFFFFF;
    /* Tab */
    
    box-shadow: 0.4rem 0.4rem 2.5rem 0.4rem rgba(154, 202, 245, 0.25);
    border-radius: 0.8rem;

}
.Col_boxRightHelpTeacher {
    position: absolute;
    width: 28rem;
    height: 79.7rem;
    left: 141rem;
    top: -71rem;
    /* /Orange / 5 */
    background: #CC5C00;
}
.Col_boxRightInforHelpTeacher {
    width: 49.9rem;
    height: 54.3rem;
    float: right;
    background: #FEF3EF;
    margin-top: -138rem;
    /* Tab */
    box-shadow: 0.4rem 0.4rem 2.5rem 0.4rem rgba(154, 202, 245, 0.25);
    border-radius: 1.6rem 0rem 0rem 1.6rem;
}
.HelpTeacher_Text_Thongtin {
    width: 13.4rem;
    height: 3.5rem;
    margin-left: 7.2rem;
    padding-top: 10rem;
    font-style: normal;
    font-weight: 700;
    /* LMS Student / H2 */
    font-size: 2.8rem;
    line-height: 3.3rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}

.HelpTeacher_Text_Thacmac {
    /* Bạn có thắc mắc? */
    width: 52.2rem;
    height: 6rem;
    padding-left: 5rem;
    padding-top: 4.313rem;
    /* LMS Student / H1 */

    font-family: Mulish;
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: 0.015em;
    font-style: normal;
    font-weight: 800;
    /* /Orange / 7 */

    color: #373839;
}
.HelpTeacher_Text_phanhoi {
   /* Chúng tôi sẽ phản hồi bạn trong thời gian sớm nhất có thể. */

    width: 61rem;
    height: 2.3rem;
    padding-left: 5rem;

    /* LMS Student / sub-header phụ */

    font-family: Mulish;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0.015em;

    color: #000000;

    opacity: 0.5;
}
.HelpTeacher_Radio {
    margin-left: 5rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: bold;
}
.HelpTeacher_TextArea_inputchude {
    margin-left: 5rem;
    width: 108.0rem;
    margin-top: 2rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(55, 56, 57, 0.5);
    box-sizing: border-box;
    border-radius: 0.8rem;
}
.HelpTeacher_button {
    /* button */
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  
    width: 16rem;
    height: 5.2rem;
    margin-left: 40rem;
   

    /* Orange/4 */

    background: #FF7506;
    border-radius: 0.8rem;
}
.HelpTeacher_button_text {
    /* Button */
    position: static;
    width: 3.1rem;
    height: 2.3rem;
    left: calc(50% - 3.1rem/2);
    top: calc(50% - 2.3rem/2);

    /* LMS Student/Sub-header */

    font-family: Mulish;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0.015em;

    color: #FFFFFF;

    font-style: normal;
    font-weight: 800;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0rem 1rem;
}
.HelpTeacher_b{
    /* Line 28 */
    width: 100%;
    height: 0rem;
    margin-top: 2rem;

    opacity: 0.5;
    /* Inactivated Icon */

    border: 0.1rem solid #C9C4C0;
}
.HelpTeacher_iconMap{
    margin-left: 7.2rem;
    margin-top: 5rem;
}
.HelpTeacher_Map_b{
    /* Vector 15 */
    position: absolute;
    width: 0rem;
    height: 8.7rem;
    left: 11.3rem;
    top: 17.6rem;

    /* /Orange / 7 */

    border: 0.1rem solid #373839;
}
.HelpTeacher_text_CN1{
    /* CN1: 86/33 Âu Cơ, Phường 9, Quận Tân Bình */
  
    width: 44.9rem;
    height: 2.3rem;
    margin-left: 13rem;
    margin-top: -5rem;
    font-style: normal;
    font-weight: bold;
    /* LMS Student / Percent */

    font-family: Mulish;
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
.HelpTeacher_text_CN2{
    /* CN1: 86/33 Âu Cơ, Phường 9, Quận Tân Bình */
  
    width: 44.9rem;
    height: 2.3rem;
    margin-left: 13rem;
    margin-top: -7rem;
    font-style: normal;
    font-weight: bold;
    /* LMS Student / Percent */

    font-family: Mulish;
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
.HelpTeacher_text_CN3{
    /* CN1: 86/33 Âu Cơ, Phường 9, Quận Tân Bình */
  
    width: 44.9rem;
    height: 2.3rem;
    margin-left: 13rem;
    margin-top: -9rem;
    font-style: normal;
    font-weight: bold;
    /* LMS Student / Percent */

    font-family: Mulish;
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
.HelpTeacher_iconPhone{
    margin-left: 7.2rem;
    margin-top: -14rem;
}
.HelpTeacher_Phone_b{
    /* Vector 16 */
    position: absolute;
    width: 0rem;
    height: 5.2rem;
    left: 11.3rem;
    top: 30.2rem;

    /* /Orange / 7 */

    border: 0.1rem solid #373839;
}
.HelpTeacher_text_Phone1 {
    /* (028) 2243 6888 */
    width: 12.5rem;
    height: 2.3rem;
    margin-left: 13rem;
    margin-top: -11.5rem;

    /* LMS Student / Percent */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */

    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
.HelpTeacher_text_Phone2 {
    /* (028) 2243 6888 */
    width: 12.5rem;
    height: 2.3rem;
    margin-left: 13rem;
    margin-top: -14rem;

    /* LMS Student / Percent */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */

    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
.HelpTeacher_iconMail{
    margin-left: 7.2rem;
    margin-top: -20.8rem;
}
.HelpTeacher_Mail_b{
    /* Vector 17 */
    position: absolute;
    width: 0rem;
    height: 2.1rem;
    left: 11.3rem;
    top: 41.1rem;

    /* /Orange / 7 */

    border: 0.1rem solid #373839;
}
.HelpTeacher_text_Mail {
    /* media_infor@alta.com.vn */

    width: 20.7rem;
    height: 2.3rem;
    margin-left: 13rem;
    margin-top: -14.2rem;

    /* LMS Student / Percent */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */

    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
/* .HelpTeacher_modal .ant-modal-content{
    padding-top: 2.6rem;
    width: 43.5rem;
    height: 24.3rem;
    border-radius: 8px;
}

.HelpTeacher_modal .ant-modal-header{
    border: none;
    text-align: center;
    padding: 0;
}

.HelpTeacher_modal .ant-modal-title{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: 0.015em;
    color: #373839;
}

.HelpTeacher_modal .HelpTeacher_modal_content{
    margin-bottom: 0px !important;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #373839;
}

.HelpTeacher_modal .ant-modal-body{
    padding: 16px 39px 0px  38px;
} */