.HelpTeacher_modal .ant-modal-close {
    display: none;
  }
  
  .HelpTeacher_modal .ant-modal-header {
    text-align: center;
    border-bottom: none;
    padding: 0;
  }
  .HelpTeacher_icon-close{
    float: right;
    margin-top: -9rem;
    margin-right: -4rem;
    font-size: 2rem;
  }
  .HelpTeacher_modal .ant-modal-header .ant-modal-title {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: 0.015em;
    color: #373839;
  }
  
  .HelpTeachermodal .ant-modal-body {
    padding: 0;
  }
  
  .HelpTeacher_modal .ant-modal-footer {
    display: none;
  }
  
   .HelpTeacher_modal .ant-modal-footer .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 52px;
    background: #f2f2f2;
    border-color: #f2f2f2;
    border-radius: 8px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #373839;
  } 
  
   .HelpTeacher_modal .ant-modal-footer .ant-btn.ant-btn-primary {
    background: #ff7506;
    border-color: #ff7506;
    color: #fff;
    margin-left: 2.1rem;
  } 
  
  .HelpTeacher_modal-send.ant-modal {
    width: 605px !important;
  }
  
  .HelpTeacher_modal-send .ant-modal-content {
    border-radius: 28px;
    padding: 2.6rem 3.8rem 4rem;
  }
  .HelpTeacher_modal-send .ant-modal-header {
    margin-bottom: 1.6rem;
  }
  
  .HelpTeacher_modal-send .HelpTeacher_modal-send-desc {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 130%;
    color: #373839;
    margin-bottom: 3.2rem;
    padding-bottom: 0;
  }
  .HelpTeacher__form-btns {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3.2rem;
  }
  
  .HelpTeacher__form-btns .ant-btn {
    width: 160px;
    height: 52px;
    background: #f2f2f2;
    border-color: #f2f2f2;
    border-radius: 8px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #373839;
  }
  


  
 