.system_Notice_notice .ant-table-pagination.ant-pagination {
  margin: 1.6rem 0;
}
.system_Notice_notice .ant-table-pagination-right {
  justify-content: center;
}
.system_Notice_notice .ant-table-pagination-right {
  justify-content: center;
}
.system_Notice_notice .ant-table-pagination {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 0.8rem;
  row-gap: 0.8rem;
}
.system_Notice_notice .ant-pagination {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.4rem;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
}
.system_Notice_notice .ant-pagination-item-active a {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff9f4;
  border-radius: 50%;
  background: #ff7506;
}
.system_Notice_notice .ant-pagination a:hover {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff9f4;
  border-radius: 50%;
  background: #ff7506;
}
.system_Notice_notice .ant-pagination-options {
  display: none;
}
.system_Notice_notice .ant-pagination li {
  border: none;
}
.system_Notice_notice .ant-pagination-prev button {
  border: none;
}
.system_Notice_notice .ant-pagination-prev button:hover {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff9f4;
  border-radius: 50%;
  background: #ff7506;
}
.system_Notice_notice .ant-pagination-next button {
  border: none;
}
.system_Notice_notice .ant-pagination-next button:hover {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff9f4;
  border-radius: 50%;
  background: #ff7506;
}
.system_Notice_notice .ant-pagination-jump-prev a:hover {
  color: rgba(0, 0, 0, 0.85);
}

/* TABLE */
.system_Notice_notice {
  position: relative;
  width: 160.6rem;
  height: 70rem;
  border: 0.01rem solid #f0f3f6;
  left: 3rem;
  right: 0.2rem;
  top: 1.2rem;
  border-radius: 1rem;
  background-color: none;
}
.system_Notice_notice .ant-table-thead > tr > th {
  color: #ffffff;
  text-align: center;
  background: none;
  border-bottom: 0em;
  font-family: "Mulish";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.3rem;
  letter-spacing: 0.015em;
  text-align: left;
}
.system_Notice_notice .ant-table-thead {
  background: none;
}
.system_Notice_notice .ant-table-thead > tr > th,
.system_Notice_notice .ant-table-tbody > tr > td,
.system_Notice_notice .ant-table tfoot > tr > th,
.system_Notice_notice .ant-table tfoot > tr > td {
  padding: 1rem;
  overflow-wrap: normal;
  text-align: left;
}
.system_Notice_notice .ant-table-tbody > tr > td {
  border-bottom: 0.1rem solid #f0f0f0;
  font-family: "Source Sans Pro";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: 0em;
  text-align: left;
}
.system_Notice_notice .ant-table-thead > tr > th,
.system_Notice_notice.ant-table-tbody > tr > td,
.system_Notice_notice .ant-table tfoot > tr > th,
.system_Notice_notice .ant-table tfoot > tr > td {
  width: 160.4rem;
  height: 5.8rem;
  overflow-wrap: normal;
}
.system_Notice_notice table > thead > tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}
.system_Notice_notice table > thead > tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}
