.main__chatcontent {
  flex: 1;
  padding: 2.2rem 3.8rem;
  max-width: 106.2rem;
  background: #FFFFFF;
  /* Tab */

  box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
  border-radius: 16px;
}
.content__header {
  padding-bottom: 15px;
}

.content__footer textarea{
  font-style: italic;
  outline: none;
  resize: none;
  width: 100%;
  border: none;
  height: 14rem;
}
.current-chatting-user {
  display: flex;
  align-items: center;
}
.current-chatting-user p {
  margin: 0;
  font-weight: 600;
}

.current-chatting-user .name{
  font-family: Mulish;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.015em;
    font-weight: 700;
    color: #CC5C00;
}


.chat__item__header{
  display: flex;
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings .btn-nobg {
  color: #000;
}


.content-all{
  max-height: 52rem;
  overflow: auto;

}
.chat__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.chat__item .avatar {
  margin-right: 0px;
  margin-left: 20px;
  background: #fff;
  padding: 1px;
}
.chat__item__content {
  padding: 12px 26px 14px 48px;
  width: 100%;
}

.avt_content{
  border-radius: 50px;
  width: 48px;
  height: 48px;
}

.avt_content img{
  height: 100%;
  width: 100%;
}

.chat__user-name{
  align-items: center;
  height: 2.3rem;
  display: flex;
}

.chat__user-name .name{
  font-family: Mulish;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  font-weight: 700;

  /* /Orange / 5 */

  color: #CC5C00;
}

.chat__user-name .role{
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.015em;

  color: #C9C4C0;
}

.dash{
  background: #C4C4C4;  

  margin: 0 1.1rem;
  width: 1.2rem;
  height: 2px;
}

.chat__user-time .time-year, .chat__user-time .time-hour{
  margin-right: 3.2rem;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;

  color: #373839;
  opacity: 0.5;
}

.btn-reply-teacher{
  width: 9.4rem;
  height: 3.2rem;
  background: #FFD8B8;
  color: #373839;

  border: 1px solid #FF7506;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  cursor: pointer;

}

.chat__user-content{
  margin-top: 1.6rem;
  margin-left: 7rem;
}

.chat__user-content p{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;


  color: #373839;
}

.chat__item__content .chat__meta {
  margin-top: 10px;

  justify-content: space-between;
  display: flex;
}
.chat__item__content .chat__meta span {
  font-size: 14px;
  color: #8693d3;
  user-select: none;
}
.chat__msg {
  user-select: none;
}

.chat__item.other {
  flex-direction: row-reverse;
  transform-origin: left;
}
.chat__item.other .chat__item__content {
  background-color: #fff;
  color: #000;
  border-radius: 10px 10px 10px 0;
  max-width: 50%;
}
.chat__item.other .avatar {
  margin-right: 20px;
  margin-left: 0px;
}
.chat__item.other .chat__item__content .chat__meta span {
  color: #d1d1d1;
}

.content__footer {
  margin-top: 2rem;
  border: 1px solid #C9C4C0;
  box-sizing: border-box;
  border-radius: 8px;
}
.sendNewMessage {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}
.sendNewMessage button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #4665ff;
  padding: 0;
  border-radius: 5px;
  line-height: 32px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

#sendMsgBtn, .paperclip {
  background-color: #fff;
}
