/* BREADCRUMB */
.separator_Breadcrumb .ant-breadcrumb-separator {
  width: 0.957rem;
  height: 1.664rem;
  margin-left: 1rem;
  color: #ff7506;
  font-size: 3rem;
  transform: rotate(-180deg);
}

/* TABS */
.tab_Group {
  position: absolute;
  top: 16.1rem;
  left: 17.6rem;
  height: 30rem;
}

.tab_Group_tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-family: "Mulish";
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  letter-spacing: 0.015em;
  color: #f2f2f2;
  font-weight: bold;
}

.tab_Group_tabs .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  width: 20.7rem;
  height: 6.9rem;
  background: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
}
.tab_Group_tabs
  .ant-tabs-card.ant-tabs-top
  > .ant-tabs-nav
  .ant-tabs-tab
  + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-bottom
  > div
  > .ant-tabs-nav.ant-tabs-tab
  + .ant-tabs-tab {
  margin-left: 2.4rem;

}
.tab_Group_tabs .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  border: 0.1rem solid;
  border-top: 0.2rem solid #ff5400;
  border-left: 0.2rem solid #ff5400;
  border-right: 0.2rem solid #ff5400;
  width: 20.7rem;
  height: 6.9rem;
}
.tab_Group_tabs .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  font-family: "Mulish";
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  letter-spacing: 0.015em;
  color: #373839;
  font-weight: bold;
}

.tab_Group_tabs .ant-tabs-tabpane {
  position: fixed;
  width: 168rem;
  height: 80rem;
  left: 17.6rem;
  top: 22.9rem;
  background: #ffffff;
  box-shadow: 0.4rem 0.4rem 2.5rem 0.4rem rgba(154, 202, 245, 0.25);
  border-radius: 0rem 1.6rem 1.6rem 1.6rem;
}
.tab_Group_tabs .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  height: 6.9rem;
}