.chatlist__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.chatlist__items {
  margin-top: 30px;
  overflow: auto;
  max-height: 72.6rem;
  padding: 0 4rem;
}

.chatlist__item {
  margin-bottom: 1rem;
  display: flex;
  cursor: pointer;
  padding: 1rem 2.9rem;
  align-items: center;
}

.chatlist__item:first-child {
  margin-top: 0;
}

.ant-tabs-nav{
  height: 4.5rem;
}

.chatlist__item:hover,
.chatlist__item.active {
  background: #F0F3F6;
  border-radius: 8px;
}

.tab-search-right{
  margin-top: 1.6rem;
  margin-left: 3.6rem;
  margin-bottom: 2.6rem;
  width: 43rem;
  height: 4rem;
  border-radius: 2.4rem;
}

.tab-search-right__input.ant-input {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  width: 43.8rem;
  height: 4rem;
  border-radius: 2.4rem;
  background: #F0F3F6;
  border: none
}

.tab-search-right__input.ant-input:focus{
  outline: none;
  box-shadow: none;
}

.tabs-question .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active{
  background: #FFF9F4;

  border: 1px solid #823B00;
  border-radius: 8px;
}

.tabs-question .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
  border: none;
}

.tabs-question .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab{
  transition: none;
}

.tabs-question .ant-tabs-tab-btn{
  transition: none;
  font-family: Mulish;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.015em;

  color: #373839;
  opacity: 0.5;
}

.tabs-question .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab{
  border: none;
  background:none;
}

.tabs-question .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  font-family: Mulish;
  font-size: 18px;
  line-height: 21px; 
  font-weight: 800;
  letter-spacing: 0.015em;
  
  color: #373839;
  opacity: 1;
}

.tabs-question .ant-tabs-tab{
  margin-right: 6rem !important;
}

.tabs-question .ant-tabs-content {
  padding: 1rem 1rem;
  padding-top: 1.6rem;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 16rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999796;
  border-radius: 15px;
}

