@import "~antd/dist/antd.css";

.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.app-left {
    width: 112px;
    height: 1080px;
    float: left;
}

.app-right {
    width: calc(100% - 112px);
    float: left;
    padding-left: 5.2rem;
    padding-right: 6.3rem;
}

.app-right main {
    width: 100%;
    min-height: 80rem;
    box-shadow: 0 0 10px 10px rgba(133, 178, 220, 0.25);
}